{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
	<div class="features_0">
		{% if pictures|length >= 1 %}
			{% for el in pictures %}
				<div class="pic_post">
					<h3>{{ el.title }}</h3>
					<img src="{{ el.picture.url }}">
					<p></p>
					<h4>{{ el.anons }}</h4>
					<p></p>
					<a href="{% url 'picture-detail' el.id %}" class="btn btn-warning">Посмотреть</a>
				</div>			
			{% endfor %}
		{% else %}
			<p>Нет записей</p>
		{% endif %}
	</div>
{% endblock %}
