{% extends 'authorization/base_auth.html' %}
{% block title %}Log-in{% endblock %}
{% block content %}
	<div class="login-form share-form">
		<div class="container">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col-lg-7 col-md-10 col-sm-10 left offset-sm-1 offset-md-1 offset-lg-0">
						<h1 class="main-title title-compressing">Авторизуйтесь<br><br>для использования сайта</h1> 
					</div>
					<div class="col-lg-5 col-md-10 col-sm-10 right offset-sm-1 offset-md-1 offset-lg-0">
						<div class="form-group">
							<input type="text" class="form-control" name="{{ form.username.name }}" id="id_{{ form.username.name }}" placeholder="Имя пользователя">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="{{ form.password.name }}" id="id_{{ form.password.name }}" placeholder="Пароль">
						</div>
						<input type="submit" class="btn btn-secondary btn-block" value="Авторизация" name="">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}