{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
	<div class="nav">
		<ul class="topnav">
			<li><a href="{% url 'home' %}" class="main-text"class="active" id="home">Главная</a></li>
			<li><a href="{% url 'view_home' %}" class="main-text" id="lent">Лента</a></li>
			<li><a href="{% url 'upload' %}" class="main-text" id="share">Поделиться</a></li>
			<li><a href="{% url 'view_scoreboard' %}" class="main-text" id="scoreboard">Лидеры</a></li>
			<li><a href="{% url 'view_profile' %}" class="main-text" id="profile">Профиль</a></li>
		</ul>
		<ul class="topnav-auth">
			<li><a href="{% url 'login' %}" class="main-text" id="login" class="auth">Вход</a></li>
			<li><a href="{% url 'registr' %}" class="main-text" id="registr" class="auth">Регистрация</a></li>
			<li><a href="{% url 'logout' %}" class="main-text" id="logout" class="auth">Выход</a></li>
		</ul>
	</div>

	<div>
		<main>
			{% block content %}
			
			{% endblock %}
		</main>
	</div>
<body>
</html>
