{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<script src="{% static 'main/js/main.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top nav">
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<div class="collapse navbar-collapse col-lg-6 col-md-6 nav-first">
				<ul class="navbar-nav mr-4 topnav">
					<li class="nav-item">
						<a href="{% url 'home' %}" class="nav-link main-text compressing-text"class="active" id="home">Главная</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'view_home' %}" class="nav-link main-text compressing-text" id="lent">Лента</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'upload' %}" class="nav-link main-text compressing-text" id="share">Поделиться</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'view_scoreboard' %}" class="nav-link main-text compressing-text" id="scoreboard">Лидеры</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'view_profile' %}" class="nav-link main-text compressing-text" id="profile">Профиль</a>
					</li>
				</ul>
			</div>

			<div class="collapse navbar-collapse nav-center-logo navbar-expand-xl col-lg-3 col-md-3">
				<h4><a href="{% url 'home' %}" class="nav-link main-text compressing-text">SharePic</a></h4>
			</div>

			<div class="collapse navbar-collapse col-lg-3 col-md-3 nav-second">
				<ul class="navbar-nav mr-4 topnav-auth">
					<li class="nav-item">
						<a href="{% url 'login' %}" class="nav-link main-text compressing-text" id="login" class="auth">Вход</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'registr' %}" class="nav-link main-text compressing-text" id="registr" class="auth">Регистрация</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'logout' %}" class="nav-link main-text compressing-text" id="logout" class="auth">Выход</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div>
		<main>
			{% block content %}
			
			{% endblock %}
		</main>
	</div>
	<body>
		</html>
