{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="share-form upload-form">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h4 class="mainpage-text guide-text title-compressing white-text">На данном сайте вы можете изучать рисунки других людей, делиться своими рисунками.
				</h4>
			</div>
			<div class="col-lg-6 col-md-10 col-sm-10 left offset-sm-1 offset-md-1 offset-lg-0">
				<h1 class="mainpage-text title-compressing white-text">Посмотреть ленту рисунков</h1>
			</div>

			<div class="col-lg-6 col-md-10 col-sm-10 right offset-sm-1 offset-md-1 offset-lg-0 justify-content-center">
				<a href="{% url 'view_home' %}" class="btn btn-secondary btn-block">Лента</a>
			</div>
			<div class="col-lg-6 col-md-10 col-sm-10 left offset-sm-1 offset-md-1 offset-lg-0">
				<h1 class="mainpage-text title-compressing white-text">Поделиться своим рисунком</h1>
			</div>

			<div class="col-lg-6 col-md-10 col-sm-10 right offset-sm-1 offset-md-1 offset-lg-0">
				<a href="{% url 'upload' %}" class="btn btn-secondary btn-block">Поделиться</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h4 class="mainpage-text guide-text title-compressing white-text">Вы можете ставить оценки и получать их на свои рисунки, таким образом, вы можете попасть в список лидеров
				</h4>
			</div>
			<div class="col-lg-6 col-md-10 col-sm-10 left offset-sm-1 offset-md-1 offset-lg-0">
				<h1 class="mainpage-text title-compressing white-text">Перейти в ленту</h1>
			</div>

			<div class="col-lg-6 col-md-10 col-sm-10 right offset-sm-1 offset-md-1 offset-lg-0">
				<a href="{% url 'view_home' %}" class="btn btn-secondary btn-block">Лента</a>
			</div>
			<div class="col-lg-6 col-md-10 col-sm-10 left offset-sm-1 offset-md-1 offset-lg-0">
				<h1 class="mainpage-text title-compressing white-text">Перейти на страницу лидеров</h1>
			</div>

			<div class="col-lg-6 col-md-10 col-sm-10 right offset-sm-1 offset-md-1 offset-lg-0">
				<a href="{% url 'view_scoreboard' %}" class="btn btn-secondary btn-block">Лидеры</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}