@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
  --dark-green: #164A41;
  --medium-green: #4D774E;
  --light-green: #9DC88D;
  --natural-yellow: #F1B24A;
  --white: #FFFFFF;
}

body {
  background: linear-gradient(to right, var(--dark-green), var(--light-green));
  overflow-x: hidden;
}


/* Стили для текста. Это общий класс для красивого текста */

.main-text {
  text-align: center;
  font-size: 2vh;
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
  line-height: 5vh;
  cursor: pointer;
}

.main-title {
  text-align: center;
  font-size: 4vh;
  font-style: bold;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav {
  background: linear-gradient(to right, var(--dark-green), var(--light-green));
  height: 8vh;
}

.nav-center-logo h4 a {
  text-decoration: none;
  color: white;
  font-size: 4vh;
  font-weight: bold;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:first-child {
  margin-left: 1em;
}


/* Стили для ссылок панели */

.topnav li a,
.topnav-auth li a {
  text-decoration: none;
  color: white;
}


/* Изменения заднего фона кнопок при наведении */

.topnav li:hover,
.topnav-auth li:hover {
  background-color: white;
  color: black;
}


/* Изменение цвета ссылок при наведении */

.topnav li a:hover,
.topnav-auth li a:hover {
  color: black;
}

.login-form .right div:first-of-type {
  margin-top: 2em;
}

.share-form {
  margin: 0;
  position: relative;
}

.share-form .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share-form .right div input {
  height: 4.5vh;
}

.share-form .left h1 {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 0.5em;
  padding-left: 0;
  margin-right: 1em;
  width: auto;
  color: white;
  border-right: 2px solid #F1B24A;
}

.share-form .left .description {
  font-size: 1.5em;
}

.share-form .right h4 {
  padding: 0;
  color: white;
  border-top: 2px solid #F1B24A;
  border-left: 2px solid #F1B24A;
  border-right: 2px solid #F1B24A;
  border-radius: 20px 20px 0% 0%;
  cursor: auto;
}

.share-form .right {
  max-width: 600px;
}

.share-form .right .btn-secondary {
  background: #F1B24A;
  color: var(--white);
  border: 0;
  max-width: 200px;
}

.share-form .right .form-control::placeholder {
  color: #164A41;
  font-size: 16px;
}

.share-form .right textarea {
  max-height: 1000px;
}

.share-form .right .form-control {
  border-radius: 10px 10px 10px 10px;
}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

:-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

:-o-placeholder {
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

:-khtml-placeholder {
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

:placeholder {
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

input,
textarea {
  font-size: 2vw;
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.05vw;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
  background: white;
  color: #164A41;
  cursor: pointer;
  display: inline-block;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
  padding-right: 0.5vh;
}

.fa-upload {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.scroll-up {
  width: 2vh;
  height: 2vh;
}

main {
  margin-top: 11vh;
}


/* main */

main .features_0 .img-fluid {
  border-radius: 20px;
  width: 300px;
  height: auto;
  margin-bottom: 3vh;
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
}

main .features_0 .pic_post {
  position: relative;
}

main .features_0 .pic_post h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 1vh;
  width: 100%;
  display: none;
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
}

main .features_0 .pic_post h4:hover {
  display: block;
}

main .features_0 .img-fluid:hover {
  opacity: 1.2;
  transform: scale(1.05);
}

main .features_0 .img-fluid:hover::after {
  content: attr(data-title);
}


main .features {
  margin-bottom: 7vh;
}
main .features .left .picture-block {
  display: block;
  border-radius: 20px;
}

main .features .left .username-block {
  font-size: 3vh;
  font-weight: bold;
  line-height: 4vh;
  height: 4vh;
  cursor: default;
  background: white;
  border-radius: 20px;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

main .features .right .title-block {
  display: block;
  background: white;
  border-radius: 20px;
  font-size: 3vh;
  line-height: 4vh;
  height: 4vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: default;
}

main .features .right .anons-block {
  font-size: 2vh;
  line-height: auto;
  height: 9vh;
  cursor: default;
  font-weight: bold;
  background: white;
  border-radius: 20px;
  margin-bottom: 1vh;
}

main .features .right .full_text-block {
  text-align: center;
  display: block;
  background: white;
  border-radius: 20px;
  font-size: 2vh;
  letter-spacing: 1px;
  line-height: auto;
  cursor: default;
  height: 36vh;
}

main .features .right .rating-block {
  display: block;
  text-align: center;
  font-size: 2vh;
  letter-spacing: 2px;
  line-height: auto;
  height: 11vh;
  background: white;
  border-radius: 20px;
  cursor: default;
}
main .features .right .date-block {
  display: block;
  text-align: center;
  font-size: 2vh;
  letter-spacing: 2px;
  line-height: 4vh;
  height: 4vh;
  background: white;
  border-radius: 20px;
  cursor: default;
}

@media screen and (max-width: 1500px) {
  .compressing-text {
    text-align: center;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.25px;
    line-height: 2.5vh;
    cursor: pointer;
  }
  .nav-center-logo h4 a {
    text-decoration: none;
    color: white;
    font-size: 2vh;
    font-weight: bold;
  }
}

@media screen and (max-width: 1000px) {
  .share-form .left h1 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
    color: white;
    border-bottom: 2px solid #F1B24A;
    border-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .nav-large {
    display: none;
  }
  .nav-small-main {
    height: 6vh;
  }
  .nav-small li {
    height: 6vh;
    width: auto;
  }
  .nav-center-logo h4 a {
    color: white;
    font-size: 1vh;
    font-weight: bold;
  }
}

@media screen and (min-width: 1000px) {
  .nav-small {
    display: none;
  }
}